name: Tether
description: A new Flutter project.

# commands:
# - flutter pub global run devtools
# - emulator -list-avds
# - emulator -avd Pixel_3a_API_29

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  redux: 3.0.0
  redux_thunk: 0.2.1
  flutter_redux: 0.5.3
  flutter_svg: 0.14.2
  touchable_opacity: 1.0.2
  hive: 1.1.0
  hive_flutter:  0.2.1
  path_provider: 1.3.1
  flutter_swiper : 1.1.6
  http: 0.12.0+2
  html: ^0.13.3+3
  expandable: 3.0.1
  flutter_secure_storage: 3.3.1+1 

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter 
  hive_generator: 0.5.2


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec


# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  fonts:
    - family: Rubik
      fonts:
        - asset: fonts/Rubik-Regular.ttf
        - asset: fonts/Rubik-Medium.ttf
          weight: 400
        - asset: fonts/Rubik-Light.ttf
          weight: 400

  # To add assets to your application, add an assets section, like this:
  assets: 
   - assets/graphics/undraw_mobile_user.svg
   - assets/graphics/undraw_messaging_fun.svg
   - assets/graphics/undraw_connection.svg
   - assets/graphics/undraw_group_chat.svg
   - assets/graphics/undraw_people.svg
   - assets/graphics/undraw_site_content.svg
   - assets/graphics/undraw_escaping.svg
   - assets/icons/tether_icon_beta.svg
   - assets/icons/tether_icon_beta.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
